In [1]:
from sklearn.externals import joblib
import pandas as pd

import numpy as np

import matplotlib.pyplot as plt

import scipy.stats.mstats as mst

import matplotlib as mpl
dir = './data/'
df = pd.read_table(dir + 'test_A_20171225.txt',engine='python')

In [2]:
df.head(10)

   date  day_of_week
0  1033            5
1  1034            6
2  1035            1
3  1036            2
4  1037            3
5  1038            4
6  1039            5
7  1040            6
8  1041            1
9  1042            2

In [3]:
from datetime import datetime
def datelist(beginDate, endDate):
    # beginDate, endDate是形如‘20160601’的字符串或datetime格式
    date_l=[datetime.strftime(x,'%Y%m%d') for x in list(pd.date_range(start=beginDate, end=endDate))]
    return date_l
df['time']=datelist('20100127','20101028')
df.head()

   date  day_of_week      time
0  1033            5  20100127
1  1034            6  20100128
2  1035            1  20100129
3  1036            2  20100130
4  1037            3  20100131

In [4]:
names = locals()
for i in range(1,8):
    names['week%s' % i] = df[df['day_of_week']==i]
print(week1)

     date  day_of_week      time
2    1035            1  20100129
8    1041            1  20100204
14   1047            1  20100210
25   1058            1  20100221
31   1064            1  20100227
37   1070            1  20100305
43   1076            1  20100311
49   1082            1  20100317
55   1088            1  20100323
62   1095            1  20100330
68   1101            1  20100405
74   1107            1  20100411
80   1113            1  20100417
86   1119            1  20100423
92   1125            1  20100429
98   1131            1  20100505
104  1137            1  20100511
110  1143            1  20100517
117  1150            1  20100524
123  1156            1  20100530
130  1163            1  20100606
136  1169            1  20100612
142  1175            1  20100618
148  1181            1  20100624
158  1191            1  20100704
165  1198            1  20100711
172  1205            1  20100718
178  1211            1  20100724
185  1218            1  20100731
192  1225            1  20100807
198  1231            1  20100813
205  1238            1  20100820
212  1245            1  20100827
218  1251            1  20100902
224  1257            1  20100908
230  1263            1  20100914
237  1270            1  20100921
244  1277            1  20100928
250  1283            1  20101004
257  1290            1  20101011
265  1298            1  20101019
271  1304            1  20101025

In [5]:
from sklearn.externals import joblib
model_week1 = joblib.load('my_model-week1.pkl')
week1['cnt2'] = model_week1.predict(week1[['time']]).astype(int)

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [6]:
model_week2 = joblib.load('my_model-week2.pkl')
week2['cnt2'] = model_week2.predict(week2[['time']]).astype(int)

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [7]:
model_week3 = joblib.load('my_model-week3.pkl')
week3['cnt2'] = model_week3.predict(week3[['time']]).astype(int)

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [8]:
model_week4 = joblib.load('my_model-week4.pkl')
week4['cnt2'] = model_week4.predict(week4[['time']]).astype(int)
print(week4)

     date  day_of_week      time  cnt2
5    1038            4  20100201  1478
11   1044            4  20100207  1478
17   1050            4  20100213  1478
22   1055            4  20100218  1478
28   1061            4  20100224  1478
34   1067            4  20100302  1062
40   1073            4  20100308  1062
46   1079            4  20100314  1062
52   1085            4  20100320  1398
58   1091            4  20100326  1193
65   1098            4  20100402  1951
71   1104            4  20100408  1951
77   1110            4  20100414  1951
83   1116            4  20100420  1327
89   1122            4  20100426  1327
95   1128            4  20100502  1510
101  1134            4  20100508  1510
107  1140            4  20100514  1510
113  1146            4  20100520  1510
120  1153            4  20100527  4354
126  1159            4  20100602  2065
133  1166            4  20100609  1925
139  1172            4  20100615  1180
145  1178            4  20100621  1180
151  1184            4  20100627  1180
154  1187            4  20100630  1180
161  1194            4  20100707  1870
168  1201            4  20100714  1860
175  1208            4  20100721  1491
181  1214            4  20100727  1491
188  1221            4  20100803  1565
195  1228            4  20100810  1565
201  1234            4  20100816  1899
208  1241            4  20100823  1899
215  1248            4  20100830  1899
221  1254            4  20100905  1618
227  1260            4  20100911  1618
233  1266            4  20100917  1541
240  1273            4  20100924  1618
247  1280            4  20101001  1870
253  1286            4  20101007  1870
260  1293            4  20101014  1569
261  1294            4  20101015  1586
268  1301            4  20101022  1586
274  1307            4  20101028  1306

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [9]:


model_week5 = joblib.load('my_model-week5.pkl')
week5['cnt2'] = model_week5.predict(week5[['time']]).astype(int)

model_week6 = joblib.load('my_model-week6.pkl')
week6['cnt2'] = model_week6.predict(week6[['time']]).astype(int)

model_week7 = joblib.load('my_model-week7.pkl')
week7['cnt2'] = model_week7.predict(week7[['time']]).astype(int)

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys
d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.

In [10]:
names = locals()
for i in range(1,8):
    print(names['week%s' % i])

     date  day_of_week      time  cnt2
2    1035            1  20100129  2037
8    1041            1  20100204  2037
14   1047            1  20100210  2037
25   1058            1  20100221  2037
31   1064            1  20100227  2037
37   1070            1  20100305  2031
43   1076            1  20100311  2248
49   1082            1  20100317  2034
55   1088            1  20100323  1804
62   1095            1  20100330  1304
68   1101            1  20100405  2437
74   1107            1  20100411  2186
80   1113            1  20100417  1926
86   1119            1  20100423  2270
92   1125            1  20100429  2270
98   1131            1  20100505  1800
104  1137            1  20100511  1990
110  1143            1  20100517  3279
117  1150            1  20100524  3279
123  1156            1  20100530  3279
130  1163            1  20100606  2407
136  1169            1  20100612  2569
142  1175            1  20100618  2569
148  1181            1  20100624  2569
158  1191            1  20100704  2237
165  1198            1  20100711  3666
172  1205            1  20100718  2228
178  1211            1  20100724  2228
185  1218            1  20100731  1611
192  1225            1  20100807  5227
198  1231            1  20100813  5227
205  1238            1  20100820  5227
212  1245            1  20100827  3637
218  1251            1  20100902  5594
224  1257            1  20100908  5594
230  1263            1  20100914  3037
237  1270            1  20100921  3037
244  1277            1  20100928  2525
250  1283            1  20101004  2203
257  1290            1  20101011  2437
265  1298            1  20101019  2437
271  1304            1  20101025  2437
     date  day_of_week      time  cnt2
3    1036            2  20100130  1948
9    1042            2  20100205  2246
15   1048            2  20100211  1925
20   1053            2  20100216  1925
26   1059            2  20100222  1926
32   1065            2  20100228  3157
38   1071            2  20100306  1465
44   1077            2  20100312  2520
50   1083            2  20100318  2076
56   1089            2  20100324  2076
63   1096            2  20100331  2076
69   1102            2  20100406  2076
75   1108            2  20100412  2076
81   1114            2  20100418  2477
87   1120            2  20100424  2477
93   1126            2  20100430  2477
99   1132            2  20100506  2684
105  1138            2  20100512  2684
111  1144            2  20100518  2445
118  1151            2  20100525  3804
124  1157            2  20100531  3546
131  1164            2  20100607  2019
137  1170            2  20100613  2019
143  1176            2  20100619  2019
149  1182            2  20100625  2538
159  1192            2  20100705  2268
166  1199            2  20100712  1947
173  1206            2  20100719  2098
179  1212            2  20100725  2098
186  1219            2  20100801  3848
193  1226            2  20100808  3848
199  1232            2  20100814  3848
206  1239            2  20100821  3848
213  1246            2  20100828  3848
219  1252            2  20100903  3865
225  1258            2  20100909  5592
231  1264            2  20100915  5537
238  1271            2  20100922  3315
245  1278            2  20100929  2627
251  1284            2  20101005  2344
258  1291            2  20101012  2326
266  1299            2  20101020  4003
272  1305            2  20101026  4003
     date  day_of_week      time  cnt2
4    1037            3  20100131  1722
10   1043            3  20100206  1447
16   1049            3  20100212  1964
21   1054            3  20100217  1668
27   1060            3  20100223  1668
33   1066            3  20100301  2291
39   1072            3  20100307  2291
45   1078            3  20100313  1944
51   1084            3  20100319  1944
57   1090            3  20100325  1893
64   1097            3  20100401  1823
70   1103            3  20100407  1823
76   1109            3  20100413  2334
82   1115            3  20100419  1738
88   1121            3  20100425  1738
94   1127            3  20100501    88
100  1133            3  20100507    88
106  1139            3  20100513    88
112  1145            3  20100519  2458
119  1152            3  20100526  2458
125  1158            3  20100601  2458
132  1165            3  20100608  2551
138  1171            3  20100614  1900
144  1177            3  20100620  1760
150  1183            3  20100626  1760
153  1186            3  20100629  1760
160  1193            3  20100706  1898
167  1200            3  20100713  2057
174  1207            3  20100720  2725
180  1213            3  20100726  2339
187  1220            3  20100802  3477
194  1227            3  20100809  2331
200  1233            3  20100815  5017
207  1240            3  20100822  3631
214  1247            3  20100829  3631
220  1253            3  20100904  3499
226  1259            3  20100910  3369
232  1265            3  20100916  2221
239  1272            3  20100923  2221
246  1279            3  20100930  2374
252  1285            3  20101006  2392
259  1292            3  20101013  1954
267  1300            3  20101021  2277
273  1306            3  20101027  2513
     date  day_of_week      time  cnt2
5    1038            4  20100201  1478
11   1044            4  20100207  1478
17   1050            4  20100213  1478
22   1055            4  20100218  1478
28   1061            4  20100224  1478
34   1067            4  20100302  1062
40   1073            4  20100308  1062
46   1079            4  20100314  1062
52   1085            4  20100320  1398
58   1091            4  20100326  1193
65   1098            4  20100402  1951
71   1104            4  20100408  1951
77   1110            4  20100414  1951
83   1116            4  20100420  1327
89   1122            4  20100426  1327
95   1128            4  20100502  1510
101  1134            4  20100508  1510
107  1140            4  20100514  1510
113  1146            4  20100520  1510
120  1153            4  20100527  4354
126  1159            4  20100602  2065
133  1166            4  20100609  1925
139  1172            4  20100615  1180
145  1178            4  20100621  1180
151  1184            4  20100627  1180
154  1187            4  20100630  1180
161  1194            4  20100707  1870
168  1201            4  20100714  1860
175  1208            4  20100721  1491
181  1214            4  20100727  1491
188  1221            4  20100803  1565
195  1228            4  20100810  1565
201  1234            4  20100816  1899
208  1241            4  20100823  1899
215  1248            4  20100830  1899
221  1254            4  20100905  1618
227  1260            4  20100911  1618
233  1266            4  20100917  1541
240  1273            4  20100924  1618
247  1280            4  20101001  1870
253  1286            4  20101007  1870
260  1293            4  20101014  1569
261  1294            4  20101015  1586
268  1301            4  20101022  1586
274  1307            4  20101028  1306
     date  day_of_week      time  cnt2
0    1033            5  20100127  1361
6    1039            5  20100202  1631
12   1045            5  20100208  1631
18   1051            5  20100214  1416
23   1056            5  20100219  1517
29   1062            5  20100225  1946
35   1068            5  20100303  2051
41   1074            5  20100309  1659
47   1080            5  20100315  1675
59   1092            5  20100327  1907
66   1099            5  20100403  1983
72   1105            5  20100409  1983
78   1111            5  20100415  1795
84   1117            5  20100421  1254
90   1123            5  20100427  1254
96   1129            5  20100503  1565
102  1135            5  20100509  1565
108  1141            5  20100515  1565
114  1147            5  20100521  2380
121  1154            5  20100528  3418
127  1160            5  20100603  1816
134  1167            5  20100610  1816
146  1179            5  20100622  1994
152  1185            5  20100628  1876
155  1188            5  20100701  2174
162  1195            5  20100708  2174
169  1202            5  20100715  2170
176  1209            5  20100722  2170
182  1215            5  20100728  2170
189  1222            5  20100804    70
196  1229            5  20100811    70
202  1235            5  20100817  4838
209  1242            5  20100824  2644
216  1249            5  20100831  2644
222  1255            5  20100906  3880
228  1261            5  20100912  4763
234  1267            5  20100918  1883
241  1274            5  20100925  1883
248  1281            5  20101002  1772
254  1287            5  20101008  1772
262  1295            5  20101016  2268
269  1302            5  20101023  2268
     date  day_of_week      time  cnt2
1    1034            6  20100128   338
7    1040            6  20100203   338
13   1046            6  20100209   304
19   1052            6  20100215   323
24   1057            6  20100220   323
30   1063            6  20100226   323
36   1069            6  20100304   323
42   1075            6  20100310   323
48   1081            6  20100316   323
53   1086            6  20100321   323
60   1093            6  20100328   323
67   1100            6  20100404   342
73   1106            6  20100410   342
79   1112            6  20100416   342
85   1118            6  20100422   342
91   1124            6  20100428   342
97   1130            6  20100504   342
103  1136            6  20100510   342
109  1142            6  20100516   238
115  1148            6  20100522   238
122  1155            6  20100529  2211
128  1161            6  20100604   392
135  1168            6  20100611   392
140  1173            6  20100616   473
147  1180            6  20100623   473
156  1189            6  20100702   495
163  1196            6  20100709   495
170  1203            6  20100716   495
177  1210            6  20100723   495
183  1216            6  20100729   495
190  1223            6  20100805   766
197  1230            6  20100812   766
203  1236            6  20100818   889
210  1243            6  20100825   671
217  1250            6  20100901  1336
223  1256            6  20100907  1336
229  1262            6  20100913  1336
235  1268            6  20100919   773
242  1275            6  20100926   606
249  1282            6  20101003   606
255  1288            6  20101009   606
263  1296            6  20101017   494
270  1303            6  20101024   494
     date  day_of_week      time  cnt2
54   1087            7  20100322    24
61   1094            7  20100329    24
116  1149            7  20100523    24
129  1162            7  20100605    28
141  1174            7  20100617    24
157  1190            7  20100703    24
164  1197            7  20100710    24
171  1204            7  20100717    24
184  1217            7  20100730    24
191  1224            7  20100806    15
204  1237            7  20100819    24
211  1244            7  20100826    24
236  1269            7  20100920    24
243  1276            7  20100927    24
256  1289            7  20101010    24
264  1297            7  20101018    24

In [11]:
frames = [week1,week2,week3,week4,week5,week6,week7]
result = pd.concat(frames)
len(result)

275

In [12]:
xgbc=joblib.load('my_model-xgbc.pkl')
result['cnt']=xgbc.predict(result[['day_of_week','cnt2','date']]).astype(int)

In [13]:
result=result.sort_index(axis = 0,ascending = True,by = 'date')
result.head(20)

d:\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: by argument to sort_index is deprecated, please use .sort_values(by=...)
  """Entry point for launching an IPython kernel.

    date  day_of_week      time  cnt2   cnt
0   1033            5  20100127  1361  1319
1   1034            6  20100128   338   291
2   1035            1  20100129  2037  3280
3   1036            2  20100130  1948  2498
4   1037            3  20100131  1722  1862
5   1038            4  20100201  1478  1374
6   1039            5  20100202  1631  1778
7   1040            6  20100203   338   291
8   1041            1  20100204  2037  3280
9   1042            2  20100205  2246  2708
10  1043            3  20100206  1447  1346
11  1044            4  20100207  1478  1374
12  1045            5  20100208  1631  1778
13  1046            6  20100209   304   191
14  1047            1  20100210  2037  3280
15  1048            2  20100211  1925  2498
16  1049            3  20100212  1964  2076
17  1050            4  20100213  1478  1374
18  1051            5  20100214  1416  1319
19  1052            6  20100215   323   303

In [14]:

del result['time']
del result['day_of_week']
del result['cnt2']
result

     date   cnt
0    1033  1319
1    1034   291
2    1035  3280
3    1036  2498
4    1037  1862
5    1038  1374
6    1039  1778
7    1040   291
8    1041  3280
9    1042  2708
10   1043  1346
11   1044  1374
12   1045  1778
13   1046   191
14   1047  3280
15   1048  2498
16   1049  2076
17   1050  1374
18   1051  1319
19   1052   303
20   1053  2498
21   1054  1831
22   1055  1374
23   1056  1312
24   1057   303
25   1058  3280
26   1059  2498
27   1060  1831
28   1061  1374
29   1062  2031
..    ...   ...
245  1278  3017
246  1279  2371
247  1280  1978
248  1281  1866
249  1282   537
250  1283  3288
251  1284  2769
252  1285  2312
253  1286  1978
254  1287  1866
255  1288   537
256  1289     3
257  1290  3288
258  1291  2804
259  1292  2076
260  1293  1550
261  1294  1550
262  1295  2339
263  1296   330
264  1297     3
265  1298  3288
266  1299  3922
267  1300  2406
268  1301  1550
269  1302  2339
270  1303   330
271  1304  3288
272  1305  3922
273  1306  2624
274  1307  1325

[275 rows x 2 columns]

In [15]:
#result.to_csv('sample2.txt',index=False,header=False,)

In [16]:
result.to_csv('sample20180223.txt',index=False,header=False,sep='\t')